@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-brand-900 antialiased font-sans;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  /* Custom scrollbar for modern sleek aesthetic */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #c5c5c5;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #999999;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

